html {
    background-image: linear-gradient(blue, yellow);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

main {
    background-color: rgba(0, 24, 143, 0.201);
    height: 600px;
    width: 500px;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.nombre {
    padding-left: 20px;
    width: 400px;
    height: 30px;
}


.fotoraya {

    border: 1px solid white;
    width: 200%;
    position: relative;
    z-index: 1;
    top: 110px;
    left: -100px;
}


img {
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    border: 2px solid black;
    position: relative;
    top: 12px;
    left: 0px;
    z-index: 2;
}


.login {
    width: 400px;
    height: 40px;
    border-radius: 10%;
    background-color: rgba(37, 37, 154, 0.53);
    cursor: pointer;
}



.raya {
    border: 1px solid white;
    width: 90%;
}

.checkbox {
    display: flex;
    align-items: center;
    width: 426px;
    height: 66px;
}

.remember {

    font-size: 1.5rem;
}

.foryour {
    margin-left: auto;
    font-size: 1.5rem;
}

a{
    color: white;
}