/* Establece el alto del body y html al 100% para ocupar toda la ventana del navegador */
body, html {
    height: 100%;
    margin: 0; /* Elimina el margen predeterminado del body y html */
}

/* Define un contenedor flex para alinear y distribuir los elementos internos */
.container {
    display: flex; /* Hace que el contenedor sea un contenedor flex */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a una nueva línea si no caben */
    justify-content: center; /* Centra horizontalmente las cajas dentro del contenedor */
    width: 100%; /* Establece el ancho del contenedor al 100% del viewport */
    border: 2px solid red; /* Añade un borde rojo alrededor del contenedor */
    padding: 10px; /* Agrega un relleno de 10px alrededor del contenedor */
}

/* Define el estilo de las cajas internas */
.box {
    width: calc(33.33% - 2px); /* Establece el ancho de cada caja al 33.33% del contenedor menos 2px de espacio */
    height: 40px; /* Establece la altura de cada caja a 100px */
    display: flex; /* Hace que las cajas sean contenedores flexibles */
    justify-content: center; /* Centra horizontalmente el contenido de cada caja */
    align-items: center; /* Centra verticalmente el contenido de cada caja */
    color: white; /* Establece el color de texto de cada caja a blanco */
    margin: 0; /* Elimina los márgenes entre las cajas */
    box-sizing: border-box; /* Incluye el borde en el ancho total de la caja */
    font-size: 40px;
}

/* Define el estilo de las cajas internas con la clase .box-entra */
.box-entra {
    width: calc(33.33% - 2px); /* Establece el ancho de cada caja al 33.33% del contenedor menos 2px de espacio */
    height: 100px; /* Establece la altura de cada caja a 100px */
    display: flex; /* Hace que las cajas sean contenedores flexibles */
    justify-content: center; /* Centra horizontalmente el contenido de cada caja */
    align-items: center; /* Centra verticalmente el contenido de cada caja */
    color: white; /* Establece el color de texto de cada caja a blanco */
    margin: 0; /* Elimina los márgenes entre las cajas */
    box-sizing: border-box; /* Incluye el borde en el ancho total de la caja */
}

#box-1{
    background-color: rgb(68, 178, 114);

}
#box-2{
    background-color: rgb(22, 157, 202);
}
#box-3{
    background-color: rgb(127, 30, 183);    
}
#box-4{
    background-color: rgb(51, 54, 58);
}
#box-5{
    background-color: rgb(208, 184, 7);
}
#box-6{
    background-color: rgb(213, 106, 25);
}
#box-7{
    background-color: rgb(218, 68, 45);
}
#box-8{
    background-color: rgb(150, 166, 171);
}
#box-9{
    background-color: rgb(32, 156, 65);
}
#box-10{
    background-color: rgb(37, 159, 121);
}
