.container{
    background-color: salmon;
    border: 3px solid black;
    border-radius: 10px;
    
    /*Grid*/
    display: grid;
    /*grid-template-columns: 1fr 1fr;/*auto ocupa espacio segun el contenido de la celda (las fr se pueden cambiar para duplicar el tamaño de cada celda)*/

    grid-template-columns: 25px repeat(5, 1fr);/*crea 5 columnas de 1 fraccion cada una*/

    /*grid-template-rows:repeat(3, 100px);/*pueden existir cuadriculas vacias*/

    grid-template-columns: minmax(100px, 1fr) 1fr 1fr;/*cuando se ocupe el 33.33% del espacio se va a quedar en 100px

    grid-auto-rows:50px; /*rellena automatico segun lo que pongas y con las columnas*/
    gap:6px; /*separacion de items*/

    place-content: center;/*forma de centrar en el cotenedor, el resto funciona como flexbox*/
}

.container div {
    background-color: lightblue;
    border: 2px solid #09f;
    border-radius: 6px;
}

.container div:first-child{
    background-color: lightgreen;
    border: 2px solid green;
    grid-column-start: 1;/*donde empieza en columna*/ /*con un span al incio es ocupar, no de donde empieza a donde termina*/

    /*grid-row: 1/3; forma corta de hacer el start y el end*/
    grid-column-end: 3;/*donde termina en columna*/
}

/*Responsive*/

@media (width > 500px){
    .container{
        grid-template-columns: minmax(200px, 1fr) 1fr 1fr;/*el minimo de le primero es de 200 entonces cuando baja de 500ps px empuja el resto hacia abajo*/
    }
}