header{
    color: darkslateblue;
    text-align: center;
    font-size: 20px;
}

nav{
    width: 15%;
    float: left;
    
}

nav a{
    background-color: rgb(84, 71, 169);
    border-radius: 10px 0 10px 0;
    color: purple;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    display: block;
}

section{
    float: right;
    width: 75%;
    color: rgb(32, 25, 77);
    border-radius: 5px;
    box-shadow: 1px 0 4px rgba(45, 48, 39, 0.3);/*sombra de cada e contenido*/
    margin-bottom: 15px;/*separar*/
    padding: 15px;/*separa tdo dentro del contenedor(letras o lo q sea)*/
}

aside{
    float: right;
    width: 30%;
    padding: 5px;
    margin: 5px;
    font-style: italic;
    color: violet;
    box-shadow: inset 5px 0 5px darkmagenta;/*la sombra sea hacia adentro*/
}

footer a{
    text-decoration: none;
    align-items: flex-end;
}